<div class="ui basic segment grid two columns">

  <div class="column four wide">
     <img class="ui small image" src='{{ .Param "image" }}'>
  </div>

  <div class="column twelve wide">
     <h5 class="ui header">{{ .Title }}</h5>
     {{ with .Param "link" }}
        <a target="_blank" data-href=' {{ . }} ' class="orange ui small center aligned request button" onclick="currentEl=this.getAttribute('data-href');">
             Скачать статью <i class="ui icon small arrow circle right"></i>
        </a>
     {{ end }}
     <br>
     <br>
     <p><em>{{ .Param "authors" }}</em></p>
     <p><em>{{ .Param "citation" }}</em></p>
  </div>
</div>
